{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<style>
    @font-face {
    font-family: 'ProximaNovaBold';
    src: url(../static/Proxima_Nova_Bold.otf);
    font-style: normal;
    font-weight: 100;
  }
  *{
    font-family: ProximaNovaBold;
  }
  html {
    height: 100%;
    background-image: linear-gradient(to right, white, #FF8870); background-repeat: no-repeat; background-size: 100% 100%;

  }
  body{
    background: linear-gradient(to bottom right, #F75692, 40%, #FF8870); background-repeat: no-repeat; background-size: 100% 100%;
    min-height: 100%;
  }
  .hide {
      display: none;
  }
  .menu {
    margin-top: 50px;
    list-style: none;

  }
  #pages {
    min-height: 100%;
    color: #323232;
  }
  .container{
    margin-top: 50px;
    height: 100%;

  }
  .page {
    padding-left: 10px; padding-right: 10px;
  }
  .menu li{
    display: inline-block;
    padding-left: 10px;
  }
  .row {
    background: #FF8870;;
    /*box-shadow: 12px 12px 12px grey;*/
  }
  #footer {
    right: 0px; bottom: 0px; left: 0px;
    width: 100%;
    height: 218px;
  }
  section{
    padding-bottom: 218px;
  }
  label{
    display: block;
  }
  #myReviews, #myWhitelist, #myBlacklist{
    max-width: 100%;
    overflow-x: hidden;
  }
  .linebreak{
    border-top: 8px solid white;
    border-radius: 5px;
  }

/* css for whitelist cards */
  a {
    text-decoration: none;
    color: inherit;
  }

  a:hover {
    color: #6ABCEA;
  }

  .movie-card {
    background: #ffffff;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 280px;
    margin: 2em;
    border-radius: 10px;
    display: inline-block;
  }

  .movie-header {
    padding: 0;
    margin: 0;
    height: 367px;
    width: 100%;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .movie-card:hover {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.08);
  }

  .movie-content {
    padding: 18px 18px 24px 18px;
    margin: 0;
  }

  .movie-content-header, .movie-info {
    display: table;
    width: 100%;
  }

  .movie-title {
    font-size: 24px;
    margin: 0;
    display: table-cell;
  }

  .fa-times {
    color: red;
  }

  .deleteButton {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    margin-right: 5px;
  }
</style>
<section>
<!-- For flash messages -->


  <!-- Main profile menu -->
<div class="container">
  <ul class="menu" id="menu" >
    <li><a data-page="myReviews" href="#" style="color: white;"><h3>  My Reviews  </h3> </a></li>
    <li><a data-page="myWhitelist" href="#" style="color: white;"><h3>  Whitelist  </h3> </a></li>
    <li><a data-page="myBlacklist" href="#" style="color: white;"><h3>  Blacklist  </h3> </a></li>
    <li><a data-page="mySettings" href="#" style="color: white;"><h3>  Settings  </h3> </a></li>
</ul>

<!-- Each menu link, with filler text  -->
<div id="pages">
    <div id="myReviews" style="overflow-y:auto; height:700px;" class="page" data-page="myReviews">
        <div class="row">
            <div class="col-12 pt-3">
                <h1> My Reviews </h1>
                <p> Wall-E: "Another out-of-this-world Pixar picture. And this time that label applies to the setting, too, as a lonely little robot named WALL-E finds and follows the lovely EVE across the universe." </p>
                <hr class="linebreak">
                <p>Praesent gravida sem ut tristique feugiat. Mauris sed massa condimentum, lacinia ex eu, sagittis enim. Aliquam ex ipsum, vulputate quis cursus sed, sagittis nec turpis. Maecenas tincidunt placerat ante, faucibus luctus lorem malesuada non. Aenean bibendum auctor dolor, in tempus dolor tempor quis. Nulla in elit risus. Pellentesque pharetra quis nulla et ornare. Nunc aliquam dolor elit, ac dignissim turpis tempus at. Donec elementum sodales mauris, et ultricies tellus feugiat a. Aenean a dui id turpis sagittis commodo eget eget nisl. Ut posuere rutrum velit eu egestas. Morbi tincidunt lectus nisi. Aliquam erat volutpat. Nullam scelerisque at lorem eget blandit. Nullam ac erat vel nisl lobortis consequat. Donec sed nisi sapien.

Morbi semper tortor id turpis fringilla semper. In vitae cursus dolor, eget facilisis dui. Vestibulum tellus turpis, lobortis sed tincidunt at, tristique sit amet nunc. Etiam pellentesque justo nec blandit dapibus. Nulla lorem tellus, pulvinar nec arcu ac, ornare mollis leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In hac habitasse platea dictumst. Quisque pretium eleifend ipsum, ac ullamcorper lorem efficitur vitae. Etiam ut ipsum et sem tristique consequat at eu elit. Fusce hendrerit urna dui, ut pharetra dui dignissim a. Quisque euismod, tellus et dignissim accumsan, elit sem efficitur sapien, in tincidunt enim nisi vel urna. Praesent dapibus at arcu in tempus. Suspendisse et scelerisque justo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
</p>
<hr class="linebreak">
<p>Praesent gravida sem ut tristique feugiat. Mauris sed massa condimentum, lacinia ex eu, sagittis enim. Aliquam ex ipsum, vulputate quis cursus sed, sagittis nec turpis. Maecenas tincidunt placerat ante, faucibus luctus lorem malesuada non. Aenean bibendum auctor dolor, in tempus dolor tempor quis. Nulla in elit risus. Pellentesque pharetra quis nulla et ornare. Nunc aliquam dolor elit, ac dignissim turpis tempus at. Donec elementum sodales mauris, et ultricies tellus feugiat a. Aenean a dui id turpis sagittis commodo eget eget nisl. Ut posuere rutrum velit eu egestas. Morbi tincidunt lectus nisi. Aliquam erat volutpat. Nullam scelerisque at lorem eget blandit. Nullam ac erat vel nisl lobortis consequat. Donec sed nisi sapien.

Morbi semper tortor id turpis fringilla semper. In vitae cursus dolor, eget facilisis dui. Vestibulum tellus turpis, lobortis sed tincidunt at, tristique sit amet nunc. Etiam pellentesque justo nec blandit dapibus. Nulla lorem tellus, pulvinar nec arcu ac, ornare mollis leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In hac habitasse platea dictumst. Quisque pretium eleifend ipsum, ac ullamcorper lorem efficitur vitae. Etiam ut ipsum et sem tristique consequat at eu elit. Fusce hendrerit urna dui, ut pharetra dui dignissim a. Quisque euismod, tellus et dignissim accumsan, elit sem efficitur sapien, in tincidunt enim nisi vel urna. Praesent dapibus at arcu in tempus. Suspendisse et scelerisque justo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
</p>
<hr class="linebreak">
<p>Praesent gravida sem ut tristique feugiat. Mauris sed massa condimentum, lacinia ex eu, sagittis enim. Aliquam ex ipsum, vulputate quis cursus sed, sagittis nec turpis. Maecenas tincidunt placerat ante, faucibus luctus lorem malesuada non. Aenean bibendum auctor dolor, in tempus dolor tempor quis. Nulla in elit risus. Pellentesque pharetra quis nulla et ornare. Nunc aliquam dolor elit, ac dignissim turpis tempus at. Donec elementum sodales mauris, et ultricies tellus feugiat a. Aenean a dui id turpis sagittis commodo eget eget nisl. Ut posuere rutrum velit eu egestas. Morbi tincidunt lectus nisi. Aliquam erat volutpat. Nullam scelerisque at lorem eget blandit. Nullam ac erat vel nisl lobortis consequat. Donec sed nisi sapien.

Morbi semper tortor id turpis fringilla semper. In vitae cursus dolor, eget facilisis dui. Vestibulum tellus turpis, lobortis sed tincidunt at, tristique sit amet nunc. Etiam pellentesque justo nec blandit dapibus. Nulla lorem tellus, pulvinar nec arcu ac, ornare mollis leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In hac habitasse platea dictumst. Quisque pretium eleifend ipsum, ac ullamcorper lorem efficitur vitae. Etiam ut ipsum et sem tristique consequat at eu elit. Fusce hendrerit urna dui, ut pharetra dui dignissim a. Quisque euismod, tellus et dignissim accumsan, elit sem efficitur sapien, in tincidunt enim nisi vel urna. Praesent dapibus at arcu in tempus. Suspendisse et scelerisque justo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
</p>
<hr class="linebreak">
            </div>
        </div>
    </div>
    <div id="myWhitelist" style="overflow-y:auto; height:700px;" class="page hide" data-page="myWhitelist">
        <div class="row">
            <div class="col-12 pt-3">
                <h1> Whitelisted Films </h1>
                <hr class="linebreak">
                {% if whitelist %}
                  {% for movie in whitelist %}
                    <div class="movie-card">
                      <div class="movie-header" style="background: url({{ movie.poster }})">
                        <form method="post" action="{{ url_for('usersReviews.removeMovie') }}" id="removeMovieFormW{{ movie.id }}" onsubmit="return confirm('Do you want to remove this movie from your whitelist?')">
                          <input type="hidden" name="currentMovieID" id="currentMovieID" value="{{ movie.movie_id }}">
                          <input type="hidden" name="buttonpressed" id="buttonpressed" value="whitelist">
                          <button form="removeMovieFormW{{ movie.id }}" class="deleteButton" type="submit">
                            <i class="fa fa-times" aria-hidden="true"></i>
                          </button>
                        </form>
                      </div><!--movie-header-->
                      <div class="movie-content">
                        <div class="movie-content-header">
                          <a href="/detailedReview/ID={{ movie.movie_id }}">
                            <h3 class="movie-title">{{ movie.title }}</h3>
                          </a>
                        </div>
                      </div><!--movie-content-->
                    </div><!--movie-card-->
                  {% endfor %}
                {% else %}
                  <h3>There are no movies in your Whitelist</h3>
                {% endif %}
<hr class="linebreak">
            </div>
        </div>
    </div>
    <div id="myBlacklist" style="overflow-y:auto; height:700px;" class="page hide" data-page="myBlacklist">
        <div class="row">
            <div class="col-12 pt-3">
                <h1> Blacklisted Films </h1>
                <hr class="linebreak">
                {% if blacklist %}
                  {% for movie in blacklist %}
                    <div class="movie-card">
                      <div class="movie-header" style="background: url({{ movie.poster }})">
                        <form method="post" action="{{ url_for('usersReviews.removeMovie') }}" id="removeMovieFormB{{ movie.id }}" onsubmit="return confirm('Do you want to remove this movie from your blacklist?')">
                          <input type="hidden" name="currentMovieID" id="currentMovieID" value="{{ movie.movie_id }}">
                          <input type="hidden" name="buttonpressed" id="buttonpressed" value="blacklist">
                          <button form="removeMovieFormB{{ movie.id }}" class="deleteButton" type="submit">
                            <i class="fa fa-times" aria-hidden="true"></i>
                          </button>
                        </form>
                      </div><!--movie-header-->
                      <div class="movie-content">
                        <div class="movie-content-header">
                          <a href="/detailedReview/ID={{ movie.movie_id }}">
                            <h3 class="movie-title">{{ movie.title }}</h3>
                          </a>
                        </div>
                      </div><!--movie-content-->
                    </div><!--movie-card-->
                  {% endfor %}
                {% else %}
                  <h3>There are no movies in your Blacklist</h3>
                {% endif %}
<hr class="linebreak">
            </div>
        </div>
    </div>

    <div id="mySettings"  class="page hide" data-page="mySettings">
        <div class="row">
            <div class="col-12 pt-3">
                <h1 style="padding: 0 15px 0 15px"> Settings </h1>
                <p style="padding: 10px 15px 0 15px; font-weight: bold;"> Username: {{current_user.username}}</p>
                <p style="padding: 0 15px 0 15px; font-weight: bold;"> Display name: {{current_user.display_name}}</p>
                <hr class="linebreak">


              <!-- Change Password-->
                <div id="changeP" data-page="changeP">
                    <div class="row-4">
                        <div class="col-12 pt-10">
                          <h4 style="padding: 20px 0 10px 0;"> Change Password </h4>
                            <form class="form-signin" method="POST" action="">
                              {{ form2.hidden_tag() }}

                                        <!-- password input field -->
                                <div class="form-row">
                                  <div class="col-lg-8">
                                    <fieldset class="form-group">
                                    <div class="input-field">
                                        {{ form2.new_password.label}}
                                        {% if form2.new_password.errors %}
                                            {{ form2.new_password }}
                                            <div class="invalid-feedback">
                                              {% for error in form2.new_password.errors %}
                                                  <span> {{ error }} </span>
                                              {% endfor %}
                                            </div>
                                        {% else %}
                                        {{ form2.new_password}}
                                        {% endif %}
                                    </div>
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="col-lg-8">
                                  <fieldset class="form-group">
                                  <div class="input-field">
                                      {{ form2.confirm_new_password.label}}
                                      {% if form2.confirm_new_password.errors %}
                                          {{ form2.confirm_new_password }}
                                          <div class="invalid-feedback">
                                            {% for error in form2.confirm_new_password.errors %}
                                                <span> {{ error }} </span>
                                            {% endfor %}
                                          </div>
                                      {% else %}
                                      {{ form2.confirm_new_password}}
                                      {% endif %}
                                  </div>
                              </div>
                            </div>
                              <div class="form-row">
                                <div class="col-lg-8">
                                  <div >
                                    {{ form2.submit_change_p (class="submit-btn mt-3 mb-5")}}
                                  </div>
                                </div>
                              </div>
                            </form>
                        </div>
                    </div>
                </div>
                <hr class="linebreak">
                <!-- Change display name-->
                <div id="changeN" data-page="changeN">
                    <div class="row-4">
                        <div class="col-12 pt-10">
                          <h4 style="padding: 20px 0 10px 0; float: top;"> Change Display Name </h4>
                            <form class="form-signin" method="POST" action="">
                              {{ form3.hidden_tag() }}

                                <div class="form-row">
                                  <div class="col-lg-8">
                                    <fieldset class="form-group">
                                    <div class="input-field">
                                        {{ form3.new_display_name.label}}
                                        {% if form3.new_display_name.errors %}
                                            {{ form3.new_display_name }}
                                            <div class="invalid-feedback">
                                              {% for error in form3.new_display_name.errors %}
                                                  <span> {{ error }} </span>
                                              {% endfor %}
                                            </div>
                                        {% else %}
                                        {{ form3.new_display_name}}
                                        {% endif %}
                                    </div>
                                </div>
                              </div>

                              <div class="form-row">
                                <div class="col-lg-8">
                                  <div >
                                    {{ form3.submit_change_n (class="submit-btn mt-3 mb-5")}}
                                  </div>
                                </div>
                              </div>
                            </form>
                        </div>
                    </div>
                </div>
                <hr class="linebreak">
                <!-- Change Security Questions Answers -->
                <div style="float:top;"id="changeQ" data-page="changeQ">
                    <div class="row-4">
                        <div class="col-12 pt-5">
                          <h4> Change Security Questions </h4>
                          <form class="form-signin" method="POST" action="">
                            {{ form1.hidden_tag() }}
                          <div class="form-row">
                            <div class="col-lg-8">
                              <fieldset class="form-group">
                              <div class="input-field">
                                  {{ form1.question_1.label}}
                                  {% if form1.question_1.errors %}
                                      {{ form1.question_1 }}
                                      <div class="invalid-feedback">
                                        {% for error in form1.question_1.errors %}
                                            <span> {{ error}} </span>
                                        {% endfor %}
                                      </div>
                                      {% else %}
                                        {{ form1.question_1}}
                                        {% endif %}
                                      </div>
                              </div>
                          </div>
                              <div class="form-row">
                                <div class="col-lg-8">
                                  <fieldset class="form-group">
                                  <div class="input-field">
                                      {{ form1.question_2.label}}
                                      {% if form1.question_2.errors %}
                                          {{ form1.question_2 }}
                                          <div class="invalid-feedback">
                                            {% for error in form1.question_2.errors %}
                                                <span> {{ error }} </span>
                                            {% endfor %}
                                          </div>
                                      {% else %}
                                      {{ form1.question_2}}
                                      {% endif %}
                                  </div>
                              </div>
                            </div>
                            <div class="form-row">
                              <div class="col-lg-8">
                                <fieldset class="form-group">
                                <div class="input-field">
                                    {{ form1.question_3.label}}
                                    {% if form1.question_3.errors %}
                                        {{ form1.question_3 }}
                                        <div class="invalid-feedback">
                                          {% for error in form1.question_3.errors %}
                                              <span> {{ error }} </span>
                                          {% endfor %}
                                        </div>
                                    {% else %}
                                    {{ form1.question_3}}
                                    {% endif %}
                                </div>
                            </div>
                          </div>
                            <div class="form-row">
                              <div class="col-lg-8">
                                <div >
                                  {{ form1.submit_change_q (class="submit-btn mt-3 mb-5")}}
                                </div>
                              </div>
                            </div>
                          </form>

                        </div>
                    </div>
                </div>








    </div>
    </div>
</div>

</section>

<!-- Hiding/showiing content on the same div function -->
<script>
jQuery.noConflict(); //prevents jquery from interfering with other scripts
$(document).ready(function() {
    $("#menu li a").on('click', function(e) {
        e.preventDefault()
        var page = $(this).data('page');
        $("#pages .page:not('.hide')").stop().fadeOut('fast', function() {
            $(this).addClass('hide');
            $('#pages .page[data-page="'+page+'"]').fadeIn('slow').removeClass('hide'); //fading animation of the content in div
        });
    });
});
</script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

{% endblock content %}
