<!DOCTYPE html>
<html lang="en">
<head>
    <!-- page naming -->
    {% if title %}
        <title>{{ title }} - FILMFLICK</title>
    {% else %}
        <title>FILMFLICK</title>
    {% endif %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- meta data -->
    <meta name="author" content="Group W2">
    <meta name="description" content="The movie suggestion website">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<style>
  @font-face {
    font-family: 'ProximaNovaBold';
    src: url(../static/Proxima_Nova_Bold.otf);
    font-style: normal;
    font-weight: 100;
  }
  *{
    margin: 0;
    padding: 0;
    font-family: ProximaNovaBold;
  }
  body::-webkit-scrollbar {
    width: 5px;
  }
  body::-webkit-scrollbar-track {
    background: none;
  }
  body::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 20px;
    border: none;
  }
  .navbar a {
    color: white;
  }
  footer a,p{
    color: white;
  }
  
  a:hover {
    color: #6ABCEA;
  }
  .navbar-toggler {
    color: white;
  }



</style>

<body>
      <!-- navbar and shared html elements to be inserted here -->
    <nav class="navbar navbar-expand-md bg-dark sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('misc.home') }}"><img src="{{url_for('static', filename='logo2_w2.png')}}" alt="FILMFLICK" width="150" height="40"></a>
      <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('misc.home') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('movies.suggestMeMovies') }}">Suggest Me Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('movies.seeMovieReview') }}">Search Movies</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('usersReviews.account') }}">My Profile</a>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('usersReviews.logout') }}">Logout</a>
          {%else%}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('usersReviews.register') }}">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('usersReviews.login') }}">Login</a>
          </li>
          {%endif%}
        </ul>
      </div>
    </div>
    </nav>
    <div class="col-md-8">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{category}}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
    {% block content %}{% endblock %}

    <footer>
      <div class="container-fluid padding bg-dark p-3" id="footer">
        <div class="col-12 text-center">
          <!-- can add the hyperlink for the terms of use and privacy policy to the respective text below -->
          <!-- placeholder links for t&c and policies -->
          <p>While using FILMFLICK, you agree to have read and accepted our <a href="{{ url_for('misc.termOfUse')}}">Terms of Use</a> and <a href="{{ url_for('misc.privacyPolicy')}}">Privacy Policy</a>.</p>
          <p>Data regarding Movies provided by <a href="http://www.omdbapi.com/">OMDB API</a>. All content licensed under <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a>.</p>
          <p>&copy; FILMFLICK 2020-2021. All Rights Reserved.</p>
          <p class="font-weight-light">By Group W2</p>
          <hr class="light">
          <a href="#">Return to Top</a>
        </div>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script type="text/javascript" src="../static/background.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</script crossorigin="anonymous"></script>
    <script type="text/javascript" src="../static/background.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
