{% extends "base.html" %}
{% block content %}
<style>
  body{
    height: 100vh;
    background: #FF8870;

  }
  .container{
    background: #FF8870;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
  }
  .container h2{
    font-size: 8vw;
    color: #FF8870;
    text-transform: uppercase;
    position: relative;
    padding-top: 20px;
  }
  .container h2:before{
    padding-top: 20px;
    content: attr(data-text);
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    color: #323232;
    overflow: hidden;
    animation: animate 2.5s linear infinite;
  }
  #suggestbtn{
    background: none;
    border-width: 6px;
    border-color: white;
    border-radius: 15px;
    padding: 10px;
    border-style: solid;
    color: white;
    margin-bottom: 10px;
  }
  #suggestbtn:hover{
    background:white;
    border:6px solid;
    color: #FF8870;
  }

  .linebreak{
    border-top: 8px solid white;
    border-radius: 5px;
  }
  button{
    font-family: ProximaNovaBold;
  }
  @keyframes animate{
    0%,10%,100%{
      width: 0;
    }
    70%,90%{
      width:100%;
    }
  }
</style>
<div class="container" id="textvertical">
  <div class="row-4">
    <div class="col-12">
        <h2 data-text="FilmFlick//">FilmFlick// </h2>
        <br>
        <h3>Who are we?</h3>
        <h4>We are Team W2, and this is our webapp - FilmFlick.</h4>
        <hr class="linebreak">
        <br>
        <h4>We designed FilmFlick in order to aid in decreasing the amount of time spent looking for a film to watch. Our back-end team worked incredibly hard to create an algorithm which would both introduce you to something which you may have never otherwise come across, as well as tailoring future results according to your taste. With the press of a button, a new film will be generated and presented to you with all the necessary information which may help you make the decision. </h4>
        <br>
        <hr class="linebreak">
        <h4 style="padding-bottom: 15px;">Well, it's time for you to try it yourself. We sincerely hope you enjoy our service!</h4>
        <form action="{{ url_for('movies.suggestMeMovies') }}">
          <input id="suggestbtn" type="submit" value="Go to Suggest me movies" />
        </form>
        <br>

    </div>
  </div>
</div>

{% endblock content %}
