<!-- out template file -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">

	<title>FILMFLICK</title>

	<meta name="description" content="The movie suggestion website">
    <meta name="author" content="Group W2">

    <!-- <link rel="stylesheet" href="css/styles.css"> -->

</head>
<body>
	<p>This is the Login Page</p>
	<!-- <script src="js/scripts.js"></script> -->
	        <div class="hero">
            <div class="form-box">
                <div class="button-box">
                    <div id="btn"></div>
                        <button type="button" class="toggle-btn" onclick="login()">Log in</button>
                        <button type="button" class="toggle-btn" onclick="register()">Sign up</button>
                </div>
                <form id="login" class="input-group">
                    <input type="text" class="input-field" placeholder="Username" required>
                    <input type="text" class="input-field" placeholder="Password" required>
                    <input type="checkbox" class="check-box"><span>Remember Password</span>
                        <button type="submit" class="submit-btn">Continue</button>
                </form>
                <form id="register" class="input-group">
                    <input type="text" class="input-field" placeholder="Username" required>
                    <input type="text" class="input-field" placeholder="Display name" required>
                    <input type="text" class="input-field" placeholder="Password" required>
                    <input type="checkbox" class="check-box"><span>I agree to the terms & conditions</span>
                        <button type="submit" class="submit-btn">Register</button>
                </form>
        </div>
        <script>
            var x= document.getElementById("login");
            var y= document.getElementById("register");
            var z= document.getElementById("btn");

            function register(){
                x.style.left = "-400px";
                y.style.left = "50px";
                z.style.left = "110px";
            }
            function login(){
                x.style.left = "50px";
                y.style.left = "450px";
                z.style.left = "0px";
            }

        </script>

</body>
</html>