{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

<style>
	html {
    height: 100%;
	}
	body {
  	min-height: 100%;
		background-size: 100%;
		background: rgb(46,48,46);
	}
	#searchPage {
		margin-top: 20px;
		margin-bottom: 40px;
		background: rgba(255,255,255,0.5);
		background-position: center;
		width: 80%;
		height: 80%;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	.card {
		background: white;
		width: 80%;
		margin-top: 20px;
	}
	#poster{
		margin-left: 10px;
		margin-top: 10px;
	}

</style>

<canvas id="cas" class='background'style='position:fixed;top:0;z-index:-1'></canvas>
<!-- search bar -->
<div class="container-fluid p-3">
	<div class="input-group col-md-8 mx-md-auto pt-3" id="searchForm">
		<input class="form-control py-2 border-right-0 border" type="search" placeholder="Search..." id="searchMovies">
		<span class="input-group-append">
			<button class="btn btn-outline-secondary" type="button" action="#">
				<i class="fa fa-search"></i>
			</button>
		</span>
	</div>
</div>

<!-- List of popular movies and their top reviews -->
<div class="container-fluid p-3" id="searchPage">
	{% for i in range(6) %}
		<div class="row" id="popularReviews">
			<div class="card mx-auto">
				<div class="col-md-4 no-gutters" id="popularMoviePosters">
					{% if error_message %}
			            <!-- just skip then and not output anything -->
			    {% else %}
						<img src={{poster}} width="250" id="poster">
					{% endif %}
				</div>
				<div class="col-md-8 no-gutters" id="popularMovieReviews">
					{% if error_message %}
	            <h3>{{ error_message }}</h3>
	        {% else %}
	            <h3><b>{{ movie_title}}  ({{ year_of_movie }})</b></h3>
							<br>
							<h5><i>IMDB Rating: {{ rating }}</i></h5>
							<p>Top review of the movie to be inserted here</p>
					{% endif %}
				</div>
			</div>
		</div>
	{% endfor %}
	<br>
</div>
{% endblock content %}
