{% extends "base.html" %}
{% block content %}
<style>
	#footer{
		/*position: absolute;*/
        right: 0; bottom: 0; left: 0;
        width: 100%;
	}
	#suggestedMovie{
		height: 1300px;
		margin-top: 20px;
	}

</style>

<div class="container" id="suggestedMovie">
	<div class=" row">
		<div class=" col-4 " id="filterSection">
			<form action="suggestMeMovies" method="POST" id="form">
				<div class="accordion" id="accordionExample">

					<div class="card">
					    <div class="card-header" id="headingOne">
					      <h2 class="mb-0">
					        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					          <h3><b>Genres</b></h3>
					        </button>
					      </h2>
					    </div>
					     <!-- use class-"collapse show" to open the criteria box after refreshing the page-->
					    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" >
					      <div class="card-body">
					        {% for i in range(number_of_different_genres//2) %}
					        	<div class="container">
					        		<div class="row">
					        			<div class=" col-6 ">
					        				<label for="{{names_of_genres[i]}}">{{names_of_genres[i]}}</label>
						        			<input type="checkbox" name="{{names_of_genres[i]}}" id="{{names_of_genres[i]}}" value="{{names_of_genres[i]}}" {{checked_genres[i]}}><br/>
					        			</div>
					        			<div class=" col-6 ">
					        				<label for="{{names_of_genres[i+number_of_different_genres//2]}}">{{names_of_genres[i+number_of_different_genres//2]}}</label>
						       				 <input type="checkbox" name="{{names_of_genres[i+number_of_different_genres//2]}}" id="{{names_of_genres[i+number_of_different_genres//2]}}" value="{{names_of_genres[i+number_of_different_genres//2]}}" {{checked_genres[i+number_of_different_genres//2]}}><br/>
					        			</div>
					        		</div>
					        	</div>
					    	{% endfor %}
					      </div>
					    </div>
					</div>

					<div class="card">
					    <div class="card-header" id="headingTwo">
					      <h2 class="mb-0">
					        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
					          <h3><b>Ratings</b></h3>
					        </button>
					      </h2>
					    </div>
					    <!-- use class-"collapse show" to open the criteria box after refreshing the page-->
					    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" >
					      <div class="card-body">
					      	{% for i in range(number_of_different_ratings) %}
                                {% if ratings[i] == chosen_rating %}
                                <label for="{{ratings_texts[i]}}">{{ratings_texts[i]}}</label>
                                <input type="radio" name="Ratings" id="{{ratings_texts[i]}}" value="{{ratings[i]}}" checked><br/>
                                {% else %}
                                <label for="{{ratings_texts[i]}}">{{ratings_texts[i]}}</label>
                                <input type="radio" name="Ratings" id="{{ratings_texts[i]}}" value="{{ratings[i]}}"><br/>
                                {% endif %}
                            {% endfor %}
					      </div>
					    </div>
					</div>

					<div class="card">
					    <div class="card-header" id="headingThree">
					      <h2 class="mb-0">
					        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
					          <h3><b>Ranges of Years</b></h3>
					        </button>
					      </h2>
					    </div>
					    <!-- use class-"collapse show" to open the criteria box after refreshing the page-->
					    <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" >
					      <div class="card-body">
					        {% for i in range(number_of_different_ranges_of_years) %}
						    	<label for="{{ranges_of_years_text[i]}}">{{ranges_of_years_text[i]}}</label>
						        <input type="checkbox" name="{{ranges_of_years_text[i]}}" id="{{ranges_of_years_text[i]}}" value="{{ranges_of_years_text[i]}}" {{checked_ranges_of_years[i]}}><br/>
					    	{% endfor %}
					      </div>
					    </div>
					</div>
					
				</div>
			</form>

		</div>

		<div class="pt-3 col-8">
			<button form="form" type="submit" class="btn btn-primary">Generate a movie!</button><br>
			<br>
			{% if error_message %}
                <h3>{{ error_message }}</h3>
            {% else %}
                <h3>{{ movie_title}}, {{ year_of_movie }}</h3>
                <h3>IMDB rating: {{ rating }}</h3>
                <br>
                <h3>Genres</h3>
                {% for genre in genres %}
                {{genre}}
                <br />
                {% endfor %}
                <br />
                <img src={{poster}} width="500">
            {% endif %}
		</div>
	</div>
</div>
{% endblock content %}
