{% extends "base.html" %}
{% block content %}

<!-- Link to the animated background -->

<style>
  @font-face {
    font-family: 'ProximaNovaBold';
    src: url(../static/Proxima_Nova_Bold.otf);
    font-style: normal;
    font-weight: 100;
  }
  *{
    font-family: ProximaNovaBold;
  }
  html {
    height: 100%;
  }
  body{
	min-height: 100%;
	background-image: url("../static/background2.png"); background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
  	}

	@keyframes fadein {
		from { opacity: 0}
  		to   { opacity: 1}
	}
	#footer{
	    right: 0; bottom: 0; left: 0;
	    width: 100%;
	    height: 218px;
	}
	span {
		font-size: 1.3em;
	}
	#updateReviews {
		margin-top: 20px;
		margin-bottom: 40px;
		background-position: center;
		width: 90%;
		height: 80%;
		animation: fadein 1.5s;
		background: #DCDCDC;
		box-shadow: 5px 5px 22px grey;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		height: 100vh;
	}
	.form-row {
		margin-left: 30px;
		margin-top: 30px;
	}
	.btn {
		padding: 10px;
		color: white;
		background: rgb(46,48,46);
		margin-top: 5px;
		border: 10px;
		width: 200px;
		font-family: 'ProximaNovaBold';
		src: url(../static/Proxima_Nova_Bold.otf);
		font-style: normal;
		font-weight: 100;
	}
	.input-field {
		width: 400px;
	}
	#footer {
    	right: 0px; bottom: 0px; left: 0px;
	    width: 100%;
	}


</style>

<div class="container" id="updateReviews">
	<div class="row" id="fieldSection" style="overflow-y:auto; height: 500px;">
		<form class="form-signin" method="POST" action=" ">
			{{ form.hidden_tag() }}
				<div class="form-row">
					<div class="container">
						<fieldset class="form-group">
							<div class="row">
								{{ form.title.label }}
							</div>
							<div class="row">
								{% if form.title.errors %}
									{{ form.title(class="input-field")}}
									<div class="invalid-feedback">
										{% for error in form.title.errors %}
											<span>{{ error }} </span>
										{% endfor %}
									</div>
								{% else %}
									{{ form.title(class="input-field") }}
								{% endif %}
							</div>
						</fieldset>
					</div>
				</div>

				<div class="form-row">
					<div class="container">
					 <div class="input-field">
						 <fieldset class="form-group">
							 <div class="row">
								{{ form.content.label}}
							</div>
							<div class="row">
								{% if form.content.errors %}
									{{ form.content(class="input-field") }}
									<div class="invalid-feedback">
										{% for error in form.content.errors %}
												<span> {{ error}} </span>
										{% endfor %}
									</div>
									{% else %}
										{{ form.content(class="input-field")}}
										{% endif %}
								</div>
							</fieldset>
						</div>
					</div>
				</div>

				<div class="container">
					<div class="row">
						<div class="col-md-3">
							<div class="form-group">
								{{ form.submit_review (class="submit-btn mt-3 mb-5")}}
							</div>
						</div>
					</div>
				</div>
		</form>
	</div>
</div>


{% endblock content %}
